.DS_Store
air_quality_data.feather
all_london_data.feather
bristol_ground_cleaned.feather
bristol_ground_sat_weather.feather
bristol_traffic.feather
bristol-boundary-mask.shp
get_london_data_old.ipynb
LaqnData.csv
london_data.feather
london_data2.feather
london_data3.feather
london_ground_sat.feather
london_traffic.feather
.ipynb_checkpoints/sentinel-checkpoint.ipynb
.vscode/settings.json
__pycache__/get_satellite_data.cpython-39.pyc
plots/.DS_Store
plots/bristol_mse.html
